# Note Adel
NoteAdel.txt

# Note Malik
NoteMalik.txt

# Données lourdes
data/pdfs/
data/pdfs/**

# Environnements virtuels
.venv/
venv/

# Python
__pycache__/
*.pyc

# Secrets
.env
.env.local

# Rapport
Rapport Medialise.docx


# PubChem images (générées localement)
data/pubchem_images/
data/pubchem_images/**


# Data (big)
data/drugbank/
data/pubchem_images/
data/pdfs/

