# Note Adel
NoteAdel.txt

# Note Malik
NoteMalik.txt

# Données lourdes
data/pdfs/
data/pdfs/**

# Environnements virtuels
.venv/
venv/

# Python
__pycache__/
*.pyc

# Secrets
.env
.env.local

# Logs
*.log
frontend_backend/logs/

# PubChem images (générées localement)
data/pubchem_images/
data/pubchem_images/**


# Data (big)
data/drugbank/
data/pubchem_images/
data/pdfs/

# Export base de données
export_base_données/
export_base_données.zip
